[defaults]
#ansible_python_interpreter	= /usr/bin/python3
inventory               = hosts
collections_path        = collections
host_key_checking       = false
#retry_files_enabled     = false
#gathering               = explicit
deprecation_warnings    = false
#nocows                  = true
vault_password_file     = .vault_pass.txt
#roles_path              = ./
#private_key_file        = $HOME/.ssh/id_rsa
#ssh_private_key_file        = $HOME/.ssh/id_rsa
task_timeout            = 300
#command_warnings        = false
#hash_host               = false
look_for_keys            = false
#transport                = paramiko
#hostfile                 = ./inventory/vxrail.yml
timeout                  = 5

[ansible_network]
import_modules = false
