[defaults]
inventory = inventory.example
host_key_checking = false
deprecation_warnings = false
vault_password_file = .vault_pass.txt
task_timeout = 300
timeout = 5

[ansible_network]
import_modules = false
